body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

header {
  border: 1px solid rgb(25, 7, 7);
  padding: 10px;
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  justify-content: center;
  align-items: center;
}

.header-site {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;

}


.header-input {
  display: flex;
  justify-content: center;

}


.header-site img {
  width: auto;
  height: 40px;
}

.header-site input {
  text-align: center;
  width: 200px;
  align-self: center;
}

.header-icons {
  font-size: 28px;
  display: flex;
  gap: 15px;
  justify-content: right;
}

.post-container {
  border: 1px solid rgb(25, 7, 7);
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-header > div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.post-image {
  border: 1px solid black;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.post-icons {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
}

.post-icons > div {
  display: flex;
  gap: 10px;
}

.post-likes {
  font-size: 14px;
}

.liked {
  color: red;
}